<mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Real Estates
      </mat-card-title>
      <span style="flex:auto;"></span>
      <button mat-raised-button (click)="openDialog()">
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content" >
      <div class="mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" >
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element let i = index;"> {{i+1}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> city </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="zipcode">
            <th mat-header-cell *matHeaderCellDef> zipcode </th>
            <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
          </ng-container> 
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-button (click)="addRentierToRealEstate(element.id)" >
                <i class="material-icons">group_add</i>
              </button>
              <button mat-button (click)="toDetail(element)" >
                <a></a>
                <i class="material-icons">launch</i>
              </button>
            </td>
          </ng-container> 
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
      </div>


    </mat-card-content>
  </mat-card>