################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Commons/obj
/DataSource/obj
/Models/obj
/Services/obj
/WebAPI/obj
/.vs/EasyHome/v16
