:host {
  size: 200px 200px;
  display: block;
  font-family: "MuseoSans";
}

.box {
  background-color: whitesmoke;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  text-align: center;
  border-radius: 50% 2% 50% 2%;
  border-top: 5px solid rgb(98, 24, 147);
  border-bottom: 5px solid rgb(62, 29, 88);
}

.row {
  margin-top: 15vh;
}

.col-header {
  background-color: transparent;
  font-size: 100px;
  font-weight: bold;
  background-color: whitesmoke;
  text-align: center;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}
.col-header h1 {
  font-size: 100px;
  color: rgb(111, 0, 215);
  font-weight: bold;
}
.about {
  display: flex;
}
.home-dashboard-image {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  width: 0;
  border-radius: 25%;
  transform: rotate(0deg);
}
@font-face {
  font-family: "MuseoSans";
  src: url("../../assets/fonts/museo_sans_ssv/MuseoSans100/MuseoSans-100.otf");
  font-style: normal;
  font-weight: bold;
}
.btn-bordered {
  border: 1px solid rgb(141, 60, 217);
}
.headerImage {
  margin-top: 3vh;
  margin-left: 5vh;
  transform: rotate(-10deg);
}
