<div class="container">
    <div class="row">
        <div class="col-lg-12 col-header">
            <h1>YOUR PROPERTY LEASED</h1>
            <h3>Manage it like a professional</h3>
        </div>
    </div>
    <div class="row about">
        <div class="col-md-5">
            about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about 
            <div class="col-lg-12 mr-2">
                <hr>
                <button (click)="gotToPage('login')" class="btn btn-primary btn-lg mr-2">{{'default.register' | translate}}!</button> 
                <button class="btn btn-bordered btn-lg mr-2">{{'home.lm' | translate}}</button> 
            </div>
        </div>
        <div class="col-md-5 headerImage">
            <img class="home-dashboard-image" src="https://st4.depositphotos.com/2466369/27546/v/1600/depositphotos_275463066-stock-illustration-dashboard-admin-panel-vector-design.jpg" alt="app-dashboard">
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ullam ad molestias facere aperiam eaque reprehenderit eum. Quo provident nulla in, voluptatum natus, eum laborum eligendi odio unde nam modi?
        </div>
    </div>
</div>