.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.option-deeppurple-amber {
  background-image: linear-gradient(45deg, #673ab7, #767808);
  color: whitesmoke;
}
.option-purple-green {
  background-image: linear-gradient(45deg, #9c27b0, #0f5230);
  color: whitesmoke;
}
.option-indigo-pink {
  background-image: linear-gradient(45deg, #3f51b5, #b53fad);
  color: whitesmoke;
}
.option-pink-bluegrey {
  background-image: linear-gradient(45deg, #e91e63, #2d0eba);
  color: whitesmoke;
}
.isDarkMode {
  margin-top: 100px !important;
  margin-bottom: auto;
  vertical-align: middle;
  transform: scale(4);
}
