<div class="form-group">
    <label>{{label}}</label>
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        type={{type}} 
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label}}>
        <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Proszę wprowadzić {{label}}</div>
        <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">{{label}} musi mieć przynamniej {{ngControl.control.errors.minlength['requiredLength']}} znaków</div>
        <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">{{label}} musi mieć maksymalnie {{ngControl.control.errors.maxlength['requiredLength']}} znaków</div>
        <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">Hasła nie pasują do siebie</div>
</div>