<div class="container mat-app-background {{storedTheme}}"  [ngClass] = "{'dark-theme-mode' : storedDarkTheme}">
<h2 mat-dialog-title>Add real estate</h2>

<mat-dialog-content class="mat-typography">
  
  <form [formGroup]='addRealEstateForm' (ngSubmit)="addRealEstate()" autocomplete="off">
  <div class="row examplecontainer" >
    <app-material-text-form-input [formControl]='addRealEstateForm.controls["email"]' [validate]="'email'" [label]='"email"' [placeholder]="'email'" [icon]="'airplay'" [hint]="'realEstate'" [translatedFrom]="'user'"></app-material-text-form-input>
    <app-material-text-form-input [formControl]='addRealEstateForm.controls["name"]' [validate]="'name'" [label]='"city"' [placeholder]="'name'" [icon]="'location_city'" [hint]="'realEstate'" [translatedFrom]="'user'"></app-material-text-form-input>
    
  </div>
  <div class="row examplecontainer" >
    <app-material-text-form-input [formControl]='addRealEstateForm.controls["city"]' [validate]="'city'" [label]='"city"' [placeholder]="'city'" [icon]="'airplay'" [hint]="'realEstate'" [translatedFrom]="'user'"></app-material-text-form-input>
    <app-material-text-form-input [formControl]='addRealEstateForm.controls["zipcode"]' [validate]="'zipcode'" [label]='"zipCode"' [placeholder]="'zipcode'" [icon]="'airplay'" [hint]="'realEstate'" [translatedFrom]="'user'"></app-material-text-form-input>
  </div>

  <div class="row examplecontainer" >
    <app-material-text-form-input [formControl]='addRealEstateForm.controls["address"]' [validate]="'address'" [label]='"address"' [placeholder]="'address'" [icon]="'airplay'" [hint]="'realEstate'" [translatedFrom]="'user'"></app-material-text-form-input>
    <app-material-text-form-input [formControl]='addRealEstateForm.controls["country"]' [validate]="'country'" [label]='"country"' [placeholder]="'country'" [icon]="'airplay'" [hint]="'realEstate'" [translatedFrom]="'user'"></app-material-text-form-input>
  </div>
  <div class="row examplecontainer" >
<div class="button-row">
  <button mat-raised-button color="primary" type="submit">Submit</button>
</div>
</div>  
</form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  cdkFocusInitial>Install</button>
  <p>Form value: {{addRealEstateForm.value | json}}</p>
  <p>Form value: {{addRealEstateForm.status | json}}</p>
</mat-dialog-actions>
</div>